@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comforter+Brush&family=Dongle&family=Edu+SA+Beginner:wght@500&family=Edu+VIC+WA+NT+Beginner:wght@500&family=Fjalla+One&family=Lato:ital@1&family=Montserrat:wght@300&family=Mouse+Memoirs&family=Oswald:wght@200&family=Poppins:ital,wght@0,400;0,600;0,700;1,700&family=Roboto:wght@300&family=The+Nautigal:wght@700&family=Updock&display=swap");
/*colores*/
/*colores*/
/*colores*/
/*colores*/
* {
  font-family: "roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  width: 100vw; }

/* uso anidado para el fondo del body*/
.fondo {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/fondo.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat; }
  .fondo .borroso {
    backdrop-filter: blur(5px);
    height: 100%; }

.tamañocontainer {
  height: 60vh; }

.col-info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  min-height: 100%;
  background: rgba(239, 224, 224, 0.24);
  background: rgba(90, 43, 43, 0.781);
  padding: 1rem 1rem 1rem 1rem; }
  .col-info p {
    line-height: 1.5; }

.imgHover {
  transition: all 2s;
  z-index: -1; }

.imgHover:hover {
  filter: brightness(100%);
  transform: scale(1.2);
  z-index: 10;
  overflow: hidden;
  align-self: center; }

/* animacion para cuando pasa se hace click en la imagen */
.imgHover:click {
  filter: brightness(100%);
  transform: scale(1.5);
  z-index: 10;
  cursor: zoom-in;
  align-self: center; }

.mainsize {
  height: 70%;
  width: 100%; }

.imagen1 {
  height: 30%; }

.cabecerasize {
  height: 15%;
  width: 100%; }

.colorCabeceras {
  background-color: rgba(239, 224, 224, 0.24); }

.logo {
  height: 10%;
  width: 10%; }

/*armar un map con los tamaños de imagenes*/
/*hacer anidamientos*/
/*poner los  colores y tamaños en variables*/
