@import 'variables';
@import 'mixins';

*{
    font-family: $fontgeneral ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height:100vh;
    width:100vw;
}
/* uso anidado para el fondo del body*/
.fondo{
    background:map-get($colores,gradiente),  url("../Images/fondo.jpg");
    @include bgsize-bgatt-bgpos-bgrep;
    .borroso{
      backdrop-filter: blur(5px);
      height:100%;
    }
  }

.tamañocontainer{
  height: 60vh;
}
.col-info {
    @include flex-column-baseline-center;
    min-height: 100%;
    background:get-map($colores,color-cabecera,gradiente__col-info);
    padding: 1rem 1rem 1rem 1rem;
    p{line-height: 1.5}
}


.imgHover{
    transition: all 2s;
    z-index: -1;
  }
  .imgHover:hover{
    filter: brightness(100%);
    transform: scale(1.2);
    z-index: 10;
    overflow:hidden;
    align-self: $center;
  }
  /* animacion para cuando pasa se hace click en la imagen */
  .imgHover:click{
    filter: brightness(100%);
    transform: scale(1.5);
   
    z-index: 10;
    cursor:zoom-in;
    align-self: $center;
  }
  .mainsize{
    height: 70%;
    width: 100%;
}
.imagen1{
  height: 30%;
}