.cabecerasize{
    height: 15%;
    width: 100%;
}
.colorCabeceras{
    background-color:rgba(239, 224, 224, 0.24)
   
}
.colorfooter{
    background-color: white;
}
.logo{
    height: 10%;
    width: 10%;
}