/*colores*/ 
$colores:(
    gradiente:linear-gradient(to right,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    gradiente__col-info: rgba(90, 43, 43, 0.781),
    color-cabecera:rgba(239, 224, 224, 0.24),
);
$center:center;
$fontgeneral:'roboto', sans-serif;

